.about-section {
    background-color: #485159;
    text-align: center;   
    position: relative;
    height: 930px;
    display: flex;
    flex-direction: column;
    
}

.about-section .video {
    margin-left: auto;
    margin-right: auto;
}