
.about-section .about-text {
    color: #BFBFBF;
    text-align: center;
    max-width: 56.25rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;
    font-size: 1.31rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}