.about-section {
    background-color: #333A40;
    text-align: center;   
    position: relative;
    height: 100vh;
    width: 100%;
}

.about-section .video {
    margin-left: auto;
    margin-right: auto;
}

.wrapper-about {
    display: grid;
    gap: 2rem;
}