
.about-section .about-text {
    color: #BFBFBF;
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
}