.main-beans {
    position: relative;
    background-image: url("../img/coffee.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
