.main-header {
    display: flex;
    height: 80px;
    width: 90%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    animation: none;
    transition: none;
}

.cart-logo {
    margin-left: 20px;
    width: 15px;
    height: 15px;
    color: #20292F;
}