.main-banner {
    background-image: url(/img/banner.jpg);
    height: 750px;
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 1090px;
    height: 302px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

