.main-banner {
    background-image: url(file:///C:/Users/saulim/Desktop/Dev/github/coffee/img/banner.jpg);
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box; 
    background-position: bottom;
    animation-name: opacity;
    animation-duration: 2s;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 1090px;
    height: 302px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: absolute;
    top: 55%;
    width: 100%;
    transform: translateY(-50%);
    transition: 2.5s ease;
    animation-name: opacity;
    animation-duration: 1.5s;
}

.main-banner .arrows {
    width: 45px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 86.5%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}