.main-title {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    color: white;
    text-align: center;
    letter-spacing: 6px;
    text-shadow: 5px 5px 30px black;
}

.menu-coffee .menu-title {
    font-family: 'Oswald', sans-serif;
    color: white;
    letter-spacing: 3px;
    font-size: 30px;
}

.about-section .main-title {
    position: relative;
    top: 20px;
    font-size: 50px;
    text-shadow: none;
}