.main-title {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    color: white;
    text-align: center;
    padding-bottom: 15px;
    letter-spacing: 6px;
    text-shadow: 5px 5px 30px black;
}