.main-subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 30px black;
    margin-bottom: 20px;
}

.main-contact .main-subtitle.-second {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: left;
    text-shadow: none;
    color: #DCA57D;
    margin-bottom: 10px;
}