.main-banner {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box; 
    background-position: bottom;
    animation: opacity 1.5s;
    height: 92vh;
    width: 100%;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18.85rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: absolute;
    top: 55%;
    width: 100%;
    transform: translateY(-50%);
    transition: 2.5s ease;
    animation: opacity 2s;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}