.main-contact {
    display: flex;
    position: relative;
}

.calendar {
    background-image: url(/img/days.jpg);
    background-size:cover ;
    height: 500px;
    width: 681.5px;
    background-color: grey;
}

.contact {
    background-color: black;
    height: 500px;
    width: 681.5px;
    position: relative;
}

.contact-text {
    margin: 0px;
    color: white;
    font-family: 'Nunito', sans-serif;
}