.menu-coffee {
    background-image: url(file:///C:/Users/saulim/Desktop/Dev/github/coffee/img/menu-coffee.jpg);
    background-size: 100%;
    background-repeat: none;
    height: 850px;
}

.menu-coffee .coffee-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 180px;
    justify-content: start;
}
