.menu-coffee {
    background-image: url("../img/menu-coffee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.menu-coffee .coffee-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21.87rem;
    height: 11.25rem;
    justify-content: start;
    animation: opacity 2s;
}

