.our-place {
    background-image: url(/img/place.jpg);
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
}


.wrapper-place {
    display: flex;
    flex-direction: column;
    width: 480px;
    position: absolute;
    top: 160px;
    left: 35px;
}

.our-place .main-title {
    text-align: start;
    font-size: 50px;
    margin-bottom: 20px;
}

.place-text {
    font-family: 'Nunito', sans-serif;
    color: #BFBFBF;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 75px;
    text-align: start;
}