.our-place {
    background-image: url("../img/place.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}


.wrapper-place {
    display: flex;
    flex-direction: column;
    width: 30rem;
    position: absolute;
    top: 10rem;
    left: 2.18rem;
}

.our-place .main-title {
    text-align: start;
    font-size: 3.12rem;
    margin-bottom: 1.25rem;
}

.place-text {
    font-family: 'Nunito', sans-serif;
    color: #BFBFBF;
    font-size: 1.56rem;
    margin-top: 0px;
    margin-bottom: 4.68rem;
    text-align: start;
}