.wrapper-menu {
    display: flex;
    height: 750px;
    max-width: 1300px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    align-content: space-between;
}

.wrapper-menu .coffee-type:nth-child(1) {  /* enézimo termo. pega apenas os ímpares. odd -ímpar; even - par */
    margin-right: 680px;
}

.wrapper-menu .coffee-type:nth-child(3) {  /* enézimo termo. pega apenas os ímpares. odd -ímpar; even - par */
    margin-right: 680px;
}


