.wrapper-menu {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
    position: relative;
}

.wrapper-menu .coffee-type { 
    position: absolute 
}

.wrapper-menu .coffee-type.-latte  { 
    top: 5rem; left: 1.875rem; 
}

.wrapper-menu .coffee-type.-espresso { 
    top: 5rem; right: 1.875rem; 
} 

.wrapper-menu .coffee-type.-black  { 
    bottom: 5rem; left: 1.875rem; 
}

.wrapper-menu .coffee-type.-cappuccino  { 
    bottom: 5rem; right: 1.875rem; 
}