.wrapper-beans {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 48%;
    left: 23%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}