.wrapper-menu {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
    position: relative;
}

.wrapper-menu .coffee-type { 
    position: absolute 
}

.wrapper-menu .coffee-type.-latte  { 
    top: 80px; left: 30px; 
}

.wrapper-menu .coffee-type.-espresso { 
    top: 80px; right: 30px; 
} 

.wrapper-menu .coffee-type.-black  { 
    bottom: 80px; left: 30px; 
}

.wrapper-menu .coffee-type.-cappuccino  { 
    bottom: 80px; right: 30px; 
}