html {
    /* a cada 1rem será considerado 10 pixels */
    font-size: 62.5%;
}

html, body {
    box-sizing: border-box;
}

/*
MAIN HEADER 
*/ 

header.main-header {
    height: 18vh;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6vh 10vh;
    width: 100%;
    padding: 0;
}

nav.navigation {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
}

nav.navigation > a {
    margin: auto;
    margin: 0;
    padding: 0.7rem;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 1.7rem;
}
a.main-action-home {
    font-size: 2.5rem;
}
a.cart-logo {
    display: none;
    visibility: hidden;
}

/*
MAIN-BANNER
*/

img.arrows {
    display: none;
    visibility: hidden;
}

section.main-banner {
    background-size: cover;
    background-position: center;
    height: 85vh;
}
h1.main-title {
    font-size: 6rem;
    margin: 0.5em 0;
}

.main-banner div.wrapper {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
}

/*
MENU COFFEE
*/

section.menu-coffee {
    height: 100vh;
    position: relative;
    background-position: center;
}

section.menu-coffee .menu-title {
    font-size: 1.5rem;
    color: black;
}

.menu-coffee p.menu-text {
    font-size: 1.5rem;
    margin: 10px;
    color: #a3a3a3;
}

div.wrapper-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 94vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div.wrapper-menu .coffee-type {
    position: static;
    align-content: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    width: 70vw;
    height: 15rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .3rem;
}

/*
BEANS
*/ 

section.main-beans {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;

}


div.wrapper-beans {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    padding: 50px;
}

/*
ABOUT SECTION
*/

.about-section .video {
    display: none;
}